#clock {
    text-align: center;
    margin-top: 10px;
}

#clock div {
    display: inline-block;
    font-size: 1.714em; /*Same as h1*/
}

.days:after,
.hours:after,
.minutes:after,
.seconds:after {
    font-size: 15px;
    content: 'Days';
    text-align: center;
    position: relative;
    margin: 10px 5px 10px 5px;
    display: block;

    text-transform: uppercase;
}

.hours:after {
    content: 'Hours';
}

.minutes:after {
    content: 'Minutes';
}

.seconds:after {
    content: 'Seconds';
}


/* Mobile */
@media only screen and (max-width: 600px) {
    .hours:after,
    .minutes:after,
    .seconds:after {
        font-size: 16px;
    }

    #clock div {
        font-size: 64px;
    }
}